eval "$(conda shell.bash hook)"
conda activate phycor
export WIKIFIER_KEY=gglumlijzqwsktaubuqlyevkwwmbpd
export BABELFY_KEY=1d165bff-3d59-4830-ab2a-d375ee9cbe49
export SHUB_KEY=d2262f5a8162438abb2b2dfa9f858166
